---
layout: splash
permalink: /
title: "Executive Dashboards and Data Engineering"
excerpt: "Let your Data Science team focus on producing valuable insights and leave the dirty work of data preparation to us.  We are data wrangling and engineering specialists available for contract hire."
excerpt: "Oliphant Data builds data warehouses and reporting systems for executive and management teams.  Everything you need to monitor your business.  All your data summarized in one place, available from your mobile device."
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/carbon-carbon-fiber-dark-596815.jpg
  cta_label: "Contact Us"
  cta_url: "/contact-us/"
  caption:
feature_row:
  - image_path: /assets/images/integrations.svg
    image_size: 24px
    alt: "Combine Data"
    title: "Combine Data"
    excerpt: "All your data in one place. CRM, analytics, budgets, projections, sales, and marketing all together."
  - image_path: /assets/images/mlai.png
    alt: "Data Warehouse"
    title: "Data Warehousing"
    excerpt: "The foundation of reporting, data warehouses model your business to support dashboards and reports."
  - image_path: /assets/images/reporting.svg
    alt: "integrations"
    title: "Reporting"
    excerpt: "Display data from different platforms and departments so executives can more efficiently run their organizations."
strong_data_foundations:
  - image_path: /assets/images/analysis-business-businesswoman-955447.jpg
    image_fullwidth: true
    alt: "What Makes a Good Executive Dashboard?"
    title: "What Makes a Good Executive Dashboard?"
    excerpt: "Executive Dashboards provide a 50k foot view of an entire business.  Built well, they enable executives to make better decisions in less time.  A good dashboard enables strategic decisions to be informed by data in near real-time."
    url: "/what-makes-a-good-executive-dashboard"
    btn_label: "What Makes a Good Executive Dashboard"
    btn_class: "btn--primary"
when_to_contract:
  - image_path: /assets/images/analytics-business-chart-186461.jpg
    image_fullwidth: true
    alt: "The Economics of Contracting"
    title: "The Economics of Contracting"
    excerpt: "Repurposing in-house developers impacts your product timeline.  Executive Dashboards require work up front, but few hours to maintain, making it an ideal project to task out."
    url: "/when-contracting-makes-sense"
    btn_label: "Read The Economics of Contracting"
    btn_class: "btn--primary"


---

{% include feature_row id="intro" type="center" %}
<h1 style="margin:auto; margin-bottom: 25px; text-align:center">What We Do</h1>
{% include feature_row %}


  <h1 style="color: white; margin:auto; margin-bottom: 0px; padding-top: 25px; padding-bottom: 25px; text-align:center; background: url('/assets/images/floor-gray-grey-8892.jpg') 0 0 repeat-x; text-shadow: 2px 2px #222;">Featured Articles</h1>
{% include feature_row id="strong_data_foundations" type="left" %}

{% include feature_row id="when_to_contract" type="right" %}
