---
layout: splash
permalink: /
title: "Unlock Your Business' Data"
excerpt: "We build  data systems: pipelines, warehouses, analytics, reporting, recommendation, projection.  We also integrate proprietary and third party systems to support sales, marketing, and operations teams.
"
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/8280865903_6d42834f78_k.jpg
  cta_label: "Contact Us"
  cta_url: "/contact-us/"
  caption:
feature_row:
  - image_path: /assets/images/reporting.svg
    image_size: 24px
    alt: "decision support"
    title: "Analytics & Reporting"
    excerpt: "Quickly develop your data systems to collect, analyze, and distribute the information you use to support data-informed decision making."
  - image_path: /assets/images/mlai.png
    alt: "ml & aianalysis"
    title: "Data Analysis"
    excerpt: "Analyze proprietary data to project future KPIs like sales volume or website traffic.  Build highly accurate projection models using the latest techniques."
  - image_path: /assets/images/integrations.svg
    alt: "integrations"
    title: "Vendor Integrations"
    excerpt: "Custom integrations between vendors, allowing them to better communicate between each other and your proprietary systems."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

